<ion-view title="Page 23" id="page17">
  <ion-content padding="true" style="background: url(img/PhqrVP7HQ2y7qU9Yx7k0_grassss.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/YjsozwrKRjGCM74ADKuE_1.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page231()" id="page23-button100" class="button button-positive button-small button-block">காக்கா மரத்தில் உட்கார்ந்தது.</a>
    <a ui-sref="page232()" id="page23-button101" class="button button-positive button-small button-block">மரத்தில் உட்கார்ந்தது காக்கா</a>
    <a ui-sref="page232()" id="page23-button102" class="button button-positive button-small button-block">உட்கார்ந்தது காக்கா மரத்தில் </a>
    <div>
      <img src="img/2aK4gzISSOdPVmcF6rS5_2.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page232()" id="page23-button103" class="button button-balanced button-small button-block">தின்றது வடையை நரி.</a>
    <a ui-sref="page2311()" id="page23-button104" class="button button-balanced button-small button-block">நரி வடையைத் தின்றது.</a>
    <a ui-sref="page232()" id="page23-button105" class="button button-balanced button-small button-block">வடையைத் தின்றது நரி.</a>
  </ion-content>
</ion-view>