<ion-view title="Page 18" id="page30">
  <ion-content padding="true" style="background: url(img/EEMHwx8S8GGB5vpdomMG_11-beautiful-bokeh-texture.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="page18-button65" style="font-weight:600;color:#070707;" class="button button-energized button-small button-block">கொடுக்கப்பட்ட சொற்களுக்கு ஏற்ற வாக்கியத்தை தேர்தெடுக.</button>
    <h4 id="page18-heading15" style="color:#0A0106;font-weight:600;">1.அம்மா-சந்தை</h4>
    <a ui-sref="page19()" id="page18-button67" class="button button-balanced button-large button-block">உதவிக்குத் தட்டுக</a>
    <h4 id="page18-heading17" style="color:#000000;font-weight:600;">2. கமலா-புத்தகம்</h4>
    <a ui-sref="page20()" id="page18-button68" class="button button-positive button-large button-block">உதவிக்குத் தட்டுக!</a>
    <h4 id="page18-heading19" style="color:#000000;font-weight:600;">23. அப்பா-வாகனம்</h4>
    <a ui-sref="page21()" id="page18-button69" class="button button-stable button-large button-block">உதவிக்குத் தட்டுக!</a>
  </ion-content>
</ion-view>