<ion-view title="Page 1" id="page49">
  <ion-content padding="true" style="background: url(img/DQBBxnOyQGeRRuXc0kHQ_grass202.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="page1-button110" class="button button-calm button-block">3.3 வாக்கியம் அமைப்பர்</button>
    <button id="page1-button111" class="button button-royal button-block">3.3.9 எளிய வாக்கியம் அமைப்பர்.</button>
    <div>
      <a style="display:block;" ui-sref="page2()">
        <img src="img/sNPllEEXTje7rL4dlQB7_butterfly-animated-gif-35.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>