<ion-view title="Page 6" id="page6" style="background-color:#D9229D;">
  <ion-content padding="true" style="background: url(img/0WopnzZqQX2ehALDzS4h_mushroom20slide.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/fmVC9pULTIqwVVIug3on_vakkiyam1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <a style="display:block;" ui-sref="page7()">
        <img src="img/76aaE81SMySWCdL6pkeP_animatedarrow1.gif" style="display: block; width: 30%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>