<ion-view title="Page 17" id="page31" style="background-color:#CC2A86;">
  <ion-content padding="true" class="has-header">
    <h1 id="page17-heading13" style="color:#49B9E9;text-align:center;">கேள்வி பதில் அங்கம்</h1>
    <div>
      <img src="img/5QXfn9irQZW2G3Hq8wwg_dealwithitharrypothermoving.gif" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page18()" id="page17-button64" class="button button-assertive button-block">கடினம்</a>
  </ion-content>
</ion-view>