<ion-view title="Page 7" id="page8" style="background-color:#D910A7;">
  <ion-content padding="true" style="background: url(img/pt65G2URQ7KoRIJvImkd_vakkiyam201.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <a style="display:block;" ui-sref="page8()">
        <img src="img/eHGocM4rRUSNXMMJr7rr_butterfly-animated-gif-21.gif" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>