<ion-view title="Page 4" id="page4" style="background-color:#B91DCE;">
  <ion-content padding="true" style="background: url(img/nWg3Eam4TqYXue2KuNcy_mushroom20slide.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="page4-heading2" style="color:#0E0000;">உதாரணம்:</h1>
    <div>
      <img src="img/ngQYRG8JStti0Jt6Zu0z_vakkiyam1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page5()" id="page4-button20" style="color:#E1E1F0;" class="button button-positive button-block">அடுத்து</a>
  </ion-content>
</ion-view>