<ion-view title="Page 11" id="page18" style="background-color:#CE1878;">
  <ion-content padding="true" style="background: url(img/BelOorUqScemneCyieXw_11-beautiful-bokeh-texture.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <a style="display:block;" ui-sref="page9()">
        <img src="img/WdZK7MKQHiGz7f3QwOjA_15.06._Running-Stamina-1.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a ui-sref="page112()" id="page11-button58" style="font-weight:600;color:#060505;font-size:-1px;" class="button button-positive button-block">அ) கபிலன் திடலில் விளையாடுகிறான்.</a>
    <a ui-sref="page112()" id="page11-button59" style="font-weight:600;color:#040404;" class="button button-calm button-block">ஆ) கபிலன் கண்ணனைத் துரத்துகிறான்.</a>
    <a ui-sref="page111()" id="page11-button60" style="font-weight:600;color:#0C0B0B;" class="button button-stable button-block">இ)கபிலன் திடலில் ஓடுகிறான்.</a>
  </ion-content>
</ion-view>