<ion-view title="Page 21" id="page38">
  <ion-content padding="true" style="background: url(img/ckuhhI0RRer9I13CcBW8_grassss.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page212()" id="page21-button78" class="button button-stable button-block">அகிலா புத்தகம் படிக்கிறாள்.</a>
    <a ui-sref="page212()" id="page21-button79" class="button button-positive button-block">கமலா புத்தகம் வாங்கினாள்.</a>
    <a ui-sref="page211()" id="page21-button80" class="button button-assertive button-block">அப்பா வாகனத்தைக் கழுவினார்.</a>
    <a ui-sref="page212()" id="page21-button81" class="button button-energized button-block">அப்பா மிதிவண்டியை வாங்கினார்.</a>
  </ion-content>
</ion-view>