<ion-view title="Page 3" id="page2" style="background-color:#B224B8;">
  <ion-content padding="true" style="background: url(img/henBi1hQYStsAQbX451g_mushroom20slide.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="page3-button17" class="button button-stable button-block">வாக்கியம் என்றால் என்ன?</button>
    <div>
      <a style="display:block;" ui-sref="page4()">
        <img src="img/dOVYAa6IRhOkvA4HEMyK_vakkiyam1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>