<ion-view title="Page 12" id="page19" style="background-color:#CE1878;">
  <ion-content padding="true" style="background: url(img/DXBWQmwQsC5P8CjndBFo_11-beautiful-bokeh-texture.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/QWATzEZLTXawLpFEmfHr_WhatsAppImage2018-09-23at06.40.521.jpeg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page122()" id="page12-button61" style="font-weight:600;color:#060505;font-size:13px;" class="button button-balanced button-block">அ) ஆசிரியர் பாட்டு பாடுகிறார்.</a>
    <a ui-sref="page121()" id="page12-button62" style="font-weight:600;color:#040404;font-size:13px;" class="button button-calm button-block">ஆ) ஆசிரியர் மாணவருக்குக் கற்றுத்தருகிறார்.</a>
    <a ui-sref="page122()" id="page12-button63" style="font-weight:600;color:#0C0B0B;font-size:13px;" class="button button-stable button-block">இ) ஆசிரியர் மாணவனைத் திட்டுகிறார்.</a>
  </ion-content>
</ion-view>