<ion-view title="Page 14" id="page10">
  <ion-content padding="true" style="background: url(img/7z9obJBRTGlX83NBiHCE_grassss.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/ZSetUj1uTZ6aL9OWwpSy_51db506370ece34f4e60a13e5c3f9777.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page14-heading5" style="color:#070706;font-weight:600;text-align:center;">அகிலா _______ ஆடுகிறாள்.</h4>
    <a ui-sref="page142()" id="page14-button38" class="button button-positive button-block">அ) பந்து</a>
    <a ui-sref="page142()" id="page14-button39" class="button button-assertive button-block">ஆ)ஆடு</a>
    <a ui-sref="page141()" id="page14-button40" class="button button-calm button-block">இ)நடனம்</a>
  </ion-content>
</ion-view>