<ion-view title="Page 15" id="page13">
  <ion-content padding="true" style="background: url(img/4rkjaVf6RRIz2jgUIYnQ_grassss.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/2TMDBNdXRbKb0WDkmmAZ_download70.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="page15-heading9" style="color:#000000;font-weight:600;">திருமதி.விமலா காய்க்கறிகள் ____________.</h3>
    <a ui-sref="page152()" id="page15-button42" class="button button-energized button-block">அ) சமைக்கின்றார்.</a>
    <a ui-sref="page151()" id="page15-button43" class="button button-positive button-block">ஆ) வெட்டுகின்றார்.</a>
    <a ui-sref="page152()" id="page15-button44" class="button button-stable button-block">இ) விளையாடுகிறார்</a>
  </ion-content>
</ion-view>