<ion-view title="Page 16" id="page14">
  <ion-content padding="true" style="background: url(img/ydEiMvzRQ6igN7RORJlb_grassss.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <a style="display:block;" ui-sref="page9()">
        <img src="img/heO5fwD1QYu9lg3vUvJB_download69.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <h4 id="page16-heading10" style="color:#000000;font-weight:600;">______ பந்து விளையாடுகின்றனர்.</h4>
    <a ui-sref="page161()" id="page16-button45" class="button button-balanced button-block">அ)சிறுவர்கள்</a>
    <a ui-sref="page162()" id="page16-button46" class="button button-positive button-block">ஆ) பெண்கள்</a>
    <a ui-sref="page162()" id="page16-button47" class="button button-royal button-block">இ) இளைஞர்கள்</a>
  </ion-content>
</ion-view>