<ion-view title="Page 13" id="page9" style="background-color:#CC2A86;">
  <ion-content padding="true" class="has-header">
    <h1 id="page13-heading12" style="color:#32D8D4;">கேள்வி பதில் அங்கம்</h1>
    <div>
      <img src="img/aT81EzEyR12dc1zVubZG_b84a9964-48d0-4e97-95f8-6c45d1c39921.gif" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page14()" id="page13-button48" class="button button-balanced button-block">இடைநிலை</a>
  </ion-content>
</ion-view>