<ion-view title="Page 24" id="page42">
  <ion-content padding="true" style="background: url(img/Kx7o0K61QNO6gipjjkqD_grassss.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/Fav1gqLvRksyyR7irrBb_3.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page241()" id="page24-button106" class="button button-energized button-block">நரி காக்கையை ஏமாற்றியது.</a>
    <a ui-sref="page242()" id="page24-button108" class="button button-energized button-block">காக்காவும் நரியும் ஏமாறின.</a>
    <a ui-sref="page242()" id="page24-button107" class="button button-energized button-block">காக்கா நரியை ஏமாற்றியது.</a>
  </ion-content>
</ion-view>