<ion-view title="Page 10" id="page15" style="background-color:#CE1878;">
  <ion-content padding="true" style="background: url(img/Hx4ycIaVR8Ol97yyXI9Y_11-beautiful-bokeh-texture.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="page10-button53" style="font-weight:600;color:#040404;" class="button button-balanced button-block">சரியான வாக்கியத்தைத் தேர்ந்தெடுக.</button>
    <div>
      <a style="display:block;" ui-sref="page9()">
        <img src="img/50k9xdKQSkioAEVsc9WX_download8.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a ui-sref="page101()" id="page10-button54" style="color:#060505;" class="button button-positive button-block">அ) நண்பர்கள் கை குளுக்குகின்றனர்.</a>
    <a ui-sref="page102()" id="page10-button55" style="color:#040404;" class="button button-calm button-block">ஆ) நண்பர்கள் உரையாடிக் கொண்டிருக்கின்றனர்.</a>
    <button id="page10-button56" class="button button-positive button-block">இ) நண்பர்கள் சட்டையை அணீகின்றனர்.</button>
  </ion-content>
</ion-view>