<ion-view title="Page 25" id="page48">
  <ion-content padding="true" style="background: url(img/x66iqI9RS65iWyM3jwga_butterfly-animated-gif-35.gif) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="page25-heading14" style="color:#D32222;font-weight:600;text-align:center;">சுருக்கம்</h1>
    <button id="page25-button109" class="button button-calm button-small button-block">வாக்கியம் என்பது முற்றுப்பெற்ற சொற்றொடராகும்.</button>
    <button id="page25-button83" class="button button-positive button-small button-block">வாக்கியம் என்பது ஒரு கருத்தை உணர்த்தக் கூடியதாக இருக்கும்.</button>
    <button id="page25-button84" class="button button-energized button-small button-block">ஒரு வாக்கியத்தில் எழுவாய்,பயனிலை மற்றும் செயப்படுபொருள் கொண்டிருக்கும். </button>
    <button id="page25-button86" class="button button-positive button-small button-block">முக்கோண முறையின் வழி, எளிய வாக்கியத்தினை உருவாக்க முடியும்.</button>
  </ion-content>
</ion-view>