<ion-view title="Page 19" id="page32">
  <ion-content padding="true" style="background: url(img/28nfjgCQcOOAvkfDFZkw_grassss.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page192()" id="page19-button70" class="button button-stable button-block">அப்பா சந்தைக்குச் சென்றார்.</a>
    <a ui-sref="page192()" id="page19-button71" class="button button-positive button-block">அம்மா உணவு வாங்கினர்.</a>
    <a ui-sref="page192()" id="page19-button72" class="button button-assertive button-block">அம்மா பொருள்கள் வாங்கினார்.</a>
    <a ui-sref="page191()" id="page19-button73" class="button button-energized button-block">அம்மா சந்தைக்குச் சென்றார்.</a>
  </ion-content>
</ion-view>