<ion-view title="Page 20" id="page35">
  <ion-content padding="true" style="background: url(img/hZbIGoWJRfOMQHNg5Sen_grassss.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page202()" id="page20-button74" class="button button-stable button-block">அகிலா புத்தகம் படிக்கிறாள்.</a>
    <a ui-sref="page201()" id="page20-button75" class="button button-positive button-block">கமலா புத்தகம் வாங்கினாள்.</a>
    <a ui-sref="page202()" id="page20-button76" class="button button-assertive button-block">அம்மா பொருள்கள் வாங்கினார்.</a>
    <a ui-sref="page202()" id="page20-button77" class="button button-energized button-block">கமலா உணவு சமைத்தாள்..</a>
  </ion-content>
</ion-view>