<ion-view title="Page 22" id="page41">
  <ion-content padding="true" style="background: url(img/35LgoHIPQCuYE39XOJT6_grassss.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="page22-button82" class="button button-positive button-block">கொடுக்கப்பட்ட காணொலி தொடர்பான சரியான வாக்கியங்களை தேர்ந்தெடுக.</button>
    <div id="page22-button-bar1" class="button-bar"></div>
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/pdSVcq_5Guc?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page22-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div>
      <a style="display:block;" ui-sref="page23()">
        <img src="img/DO0pvsRSdaYXBK7Uwrrj_animatedarrow1.gif" style="display: block; width: 20%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>