<?xml version='1.0' encoding='utf-8'?>
<widget id="com.infitt.vaakkiyakoonam" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>VAAKKIYAKOONAM</name>
    <description>
     THIS APP WILL HELP TO CREATE SENTENCES.
    </description>
    <author email="info@otpam.com" href="http://otpam.com">
   OTPAM
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
</widget>
